.container{
    width: 360px;
    border-radius: 10px;
    border: 1px solid #cecece;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 200px;
}
.sosmed{
    object-fit: cover;
    width: 100%;
    height: 230px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
}
.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.gambar-profile{
    width: 30px;
    padding-right: 5px;
}
.teks{
    padding-top: 15px;
    padding-left: 20px;
    font-weight: bold;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.icon span {
    display: flex;
    align-items: center;
    gap: 5px;
}
.child{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 20px;
}