.child{
    width: 380px;
    border-radius: 10px;
    border: 1px solid #cecece;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 250px;
}
.icon{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 25px;
}
span{
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}
p{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 15px;

}